{% extends 'base.html' %}
{% block title %}
О сайте
{% endblock %}

{% block body %}
<div class="container mt-5" >
<h1>О сайте</h1>
    <div class="col-7 alert alert-info" style="padding:15px">
    <p style="font-size:14pt">Данный сайт предназначен для создания и проведения клинических исследований с распределением пациентов на группы
трёх типов: безблочная рандомизация, блочная с фиксированным размером блоков, а также блочная со случайным размером
блоков. Приложение удовлетворяет требованиям проведения двойного слепого исследования.
    </p>
</div>
</div>
{% endblock %}