{% extends 'base.html' %}
{% block title %}
    Личный кабинет
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 align="center">Личный кабинет</h1>
    <h4>Добро пожаловать, {{ AUTHORIZED_LOGIN }}</h4>
    <h5>Ваши исследования:</h5>
    {% if account_trials|length > 0 %}
        {% for i in account_trials%}
        <div class="alert alert-info">
            {{ i.id }}
            {{ i.username }}
            {{ i.title }}
            {{ i.date.date() }}
            {{ i.number_of_participants }}
            <a href="/trials/{{ i.id }}/delete" class="btn btn-outline-secondary">Удалить</a>
            <a href="/trials/{{ i.id }}/editing" class="btn btn-outline-secondary">Редактировать исследование</a>
        </div>
        {% endfor %}
    {% else %}
    Ничего нет
    {% endif %}

</div>
{% endblock %}