{% extends 'base.html' %}
{% block title %}
    Создание исследования
{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1>Создание исследования</h1>
    {% if rand_type=='1' %}
    <h5>Безблочная рандомизация</h5>
    {% elif rand_type=='2' %}
    <h5>Блочная рандомизация с фиксированным размером блоков</h5>
    {% elif rand_type=='3' %}
    <h5> Блочная рандомизация со случайными размерами блоков</h5>
    {% endif %}
    <hr>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form method="post" id="interv" name="interv">
        <label>Название:</label><input type="text" name="title" id="title" class="form-control" placeholder="title">
        <label>Количество вмешательств:</label><input type="number" name="number_of_interventions" id="number_of_interventions" class="form-control" placeholder="number_of_interventions" step="1" min="2" onChange="createtext(this);this.oldvalue = this.value;">
        <label>Количество испытуемых:</label><input type="number" name="number_of_participants" id="number_of_participants" class="form-control" placeholder="Number of participants" step="1" min="2">
        {% if rand_type=='2' %}
        <label>Размер блока:</label><input type="number" name="block_size" id="block_size" class="form-control" placeholder="block_size" min="2">
        {% elif rand_type=='3' %}
        <label>Максимальный размер блока:</label><input type="number" name="max_block_size" id="max_block_size" class="form-control" placeholder="max_block_size" min="1">
        {% endif %}
        <input type="submit" class="btn btn-success" value="Создать">
        Наименование вмешательств:
    </form>
</div>
<!--
<input type="text" onfocus="this.oldvalue = this.value;" onchange="onChangeTest(this);this.oldvalue = this.value;" />
<script type="text/javascript">
function onChangeTest(textbox) {
    alert("Value is " + textbox.value + "\n" + "Old Value is " + textbox.oldvalue);
}
</script>
-->

<script type="text/javascript">

    function createtext(textbox)
    {
        var element = document.getElementById("interv");
        for(var i = 0; i < parseInt(textbox.oldvalue); i++)
        {
          element.removeChild(element.lastChild);
        }

        var len1=document.getElementById('number_of_interventions');
        var len2=len1.value;
        for(var i=0;i<len2;i++)
        {
            //var mybr=document.createElement('br');
            //document.f1.appendChild(mybr);
            var el= new Array();
            el[i]=document.createElement('input');
            el[i].type='text';
            el[i].name='intervention'+i;
            document.interv.appendChild(el[i]);
        }
    }
</script>

{% endblock %}
