{% extends 'base.html' %}
{% block title %}
    Создание исследования
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Создание исследования</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="post">
        {% for i in range(number_of_interventions) %}
            <input type="text" name={{i}} class="form-control" placeholder="Вмешательство">
        {% endfor %}
      <input type="submit" class="btn btn-success" value="Создать">
    </form>
</div>
{% endblock %}