{% extends 'base.html' %}
{% block title %}
    Список исследований
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Список исследований</h1>
    {% if trials|length > 0 %}
        {% for i in trials%}
        <div class="alert alert-info">
            {{ i.id }}
            {{ i.username }}
            {{ i.title }}
            {{ i.date.date() }}
            {{ i.number_of_participants }}
        </div>
        {% endfor %}
    {% else %}
        Ничего нет
    {% endif %}
</div>
{% endblock %}